In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

#Configuration
spark = SparkSession\
    .builder\
    .master('local[2]')\
    .appName('quake_etl')\
    .config('spark.jars.packages','org.mongodb.spark:mongo-spark-connector_2.12:2.4.1')\
    .getOrCreate() 
#load data
death_2 = spark.read.csv(r"C:\Users\israt\OneDrive\Desktop\DM_Project\project\death_2.csv", header=True)


#Delete column
delete_columns_2 = ['1960', '1961','1962','1963','1964','1965','1966','1967','1968','1969','1970', '1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2021','Country Code','Indicator Name','Indicator Code']
death_2 = death_2.drop(*delete_columns_2)
death_2.show(8)

#convert data type string to double
death_2 = death_2.withColumn('2017',death_2['2017'].cast(DoubleType())).withColumn('2018',death_2['2018'].cast(DoubleType())).withColumn('2019',death_2['2019'].cast(DoubleType())).withColumn('2020',death_2['2020'].cast(DoubleType()))
death_2.printSchema()



# connect with mongodb by creating database
death_2.write.format('mongo')\
    .mode('overwrite')\
    .option('spark.mongodb.output.uri','mongodb://127.0.0.1/death_2.death_2').save()

+--------------------+-----------+-----------+-----------+-----------+
|        Country Name|       2017|       2018|       2019|       2020|
+--------------------+-----------+-----------+-----------+-----------+
|               Aruba|      8.907|      9.053|      9.205|      9.362|
|Africa Eastern an...|7.691457313|7.521437993| 7.37664367|7.250955605|
|         Afghanistan|      6.575|      6.423|      6.285|      6.157|
|Africa Western an...|10.39363761|10.16649162| 9.96084289|9.774667737|
|              Angola|      8.432|       8.19|      7.981|      7.798|
|             Albania|      7.714|      7.898|      8.082|      8.263|
|             Andorra|       null|        4.4|        3.9|       null|
|          Arab World|5.413429222|5.380288079|5.352157196|5.329767688|
+--------------------+-----------+-----------+-----------+-----------+
only showing top 8 rows

root
 |-- Country Name: string (nullable = true)
 |-- 2017: double (nullable = true)
 |-- 2018: double (nullable = true)
 |-- 2019: double (nullable = true)
 |-- 2020: double (nullable = true)